---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import "../styles/tobii.min.css";
---

<MainLayout title="Pollen of the Sakura">
  <section class="md:block w-screen h-screen overflow-y-scroll snap-y snap-mandatory
         scroll-smooth overscroll-contain
         scroll-behavior-smooth
         scroll-padding-top-12
         px-20 bg-black">
    <div class="snap-start min-h-screen flex justify-center items-center py-20">
      <img src="../assets/images/1.png" alt="pollen 1" class="w-full h-full" />
    </div>
    <div class="snap-start min-h-screen flex justify-center items-center py-20">
      <img src="../assets/images/2.png" alt="pollen 2" class="w-full h-full" />
    </div>
    <div class="snap-start min-h-screen flex justify-center items-center py-20">
      <img src="../assets/images/3.png" alt="pollen 3" class="w-full h-full" />
    </div>
    <div class="snap-start min-h-screen flex justify-center items-center py-20">
      <img src="../assets/images/4.png" alt="pollen 4" class="w-full h-full" />
    </div>
    <div class="snap-start min-h-screen flex justify-center items-center py-20">
      <img src="../assets/images/5.png" alt="pollen 5" class="w-full h-full" />
    </div>
    <div class="snap-start min-h-screen flex justify-center items-center py-20">
      <img src="../assets/images/6.png" alt="pollen 6" class="w-full h-full" />
    </div>
    <div class="snap-start min-h-screen flex justify-center items-center py-20">
      <img src="../assets/images/7.png" alt="pollen 7" class="w-full h-full" />
    </div>
    <div class="snap-start min-h-screen flex justify-center items-center py-20">
      <img src="../assets/images/8.png" alt="pollen 8" class="w-full h-full" />
    </div>
    <div class="snap-start min-h-screen flex justify-center items-center py-20">
      <img src="../assets/images/9.png" alt="pollen 9" class="w-full h-full" />
    </div>
    <div class="snap-start min-h-screen flex justify-center items-center py-20">
      <img src="../assets/images/10.png" alt="pollen 10" class="w-full h-full" />
    </div>
    <div class="snap-start min-h-screen flex justify-center items-center py-20">
      <img src="../assets/images/11.png" alt="pollen 11" class="w-full h-full" />
    </div>
    <div class="snap-start min-h-screen flex justify-center items-center py-20">
      <img src="../assets/images/12.png" alt="pollen 13" class="w-full h-full" />
    </div>
    <div class="snap-start min-h-screen flex justify-center items-center py-20">
      <img src="../assets/images/13.png" alt="pollen 13" class="w-full h-full" />
    </div>
  </section>
</MainLayout>
